[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.13"
requests = "==2.24.0"
celery = "*"
redis = "*"
beautifulsoup4 = "==4.9.1"
certifi = "==2020.4.5.2"
chardet = "==3.0.4"
dj-database-url = "==0.5.0"
djangorestframework = "==3.11.0"
django-extensions = "==2.2.8"
idna = "==2.9"
lxml = "==4.5.1"
psycopg2-binary = "==2.8.3"
pytz = "==2020.1"
soupsieve = "==2.0.1"
sqlparse = "==0.3.1"
urllib3 = "==1.25.9"
whitenoise = "==5.1.0"
Werkzeug = "==1.0.1"
gunicorn = "==20.0.4"
coverage = "==5.1"
flake8 = "==3.8.3"
pytest = "==5.4.3"
pytest-cov = "==2.10.0"
ipdb = "==0.13.2"
pdbpp = "==0.10.2"

[dev-packages]

[requires]
python_version = "3.8"
